.popup__button-save {
    cursor: pointer;
    border: none;
    color: white;
    background-color: black;
    border-radius: 3px;
    transition: .666s opacity ease-in-out;
    margin: 45px 22px 25px;
    max-width: 238px;
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
}

.popup__button-save:hover {
    opacity: 80%;
}

@media screen and (min-width: 490px) {
    .popup__button-save {
        margin: 48px 36px;
        min-width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
        left: auto;
        transform: none;
    }
}