.element__like {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    margin-right: 15px;
    justify-self: center;
    transition: .666s opacity ease-in-out;
}

.element__like:hover {
    opacity: 60%;
}

.element__like:active {
    background-image: url(../../../images/heart-active.svg);
    background-size: contain;
    opacity: 100%;
}