.profile {
    width: 88%;
    margin: 42px 19px 36px;
    text-align: center;
}

@media screen and (min-width: 321px) {
    .profile {
        margin: 40px 0 51px;
        text-align: left;
        display: grid;
        grid-template-columns: 120px repeat(2, auto);
        width: 880px;
    }
}