.element__like {
    width: 22px;
    height: 19px;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    margin-right: 15px;
    justify-self: center;
    transition: .666s opacity ease-out;
    border: transparent;
    background-color: transparent;
    background-image: url(../../../images/heart.svg);
}

.element__like:hover {
    opacity: 50%;
    cursor: pointer;
}