.element__like_active {
    background-image: url(../../../../images/heart-active.svg);
    background-size: contain;
    opacity: 100%;
    width: 22px;
    height: 19px;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    margin-right: 15px;
    justify-self: center;
    transition: .666s opacity ease-out;
    border: transparent;
    background-color: transparent;
}